DATABASE_URL = "mysql+mysqlconnector://root:password@db"
DATABASE_NAME = "wite_here_database_name"
MYSQL_USER = "write_here_mysql_user"
MYSQL_PASSWORD = "write_here_password_name"
MYSQL_ROOT_PASSWORD = "write_here_password_name"
